/* Home Screen */
body {
    background-image: url(./assets/background.jpg);
    background-size: auto;
    background-position-x: center;
    background-attachment: fixed;
    font-family: "Montserrat", sans-serif;
}

.logo-header {
    display: grid;
    place-items: center;
}

.logo-img {
    width: 70%;
    margin-top: 15%;
}

.btn-list {
    list-style-type: none;
    display: grid;
    place-items: center;
    padding: 0;
    margin-top: 3%;
}

.btn {
    font-size: 16px;
}

.btn-home:hover {
    background-color: rgb(240, 176, 28);
    color: black;
    font-weight: bold;
}

.logo-nav {
    width: 40px;
}

.logo-footer {
    width: 10%;
}

.footer {
    font-size: 15px;
}

/* Events */

.events-info {
    display: flex;
    flex-direction: column;
    margin-top: 25%;
    align-items: center;
}

.heading-container {
    background-color: rgba(0, 0, 0, 0.753);
    color: white;
    padding: 8px;
    text-align: center;
}

.heading-container > h1 {
    margin: 0;
    font-weight: bold;
}

.event {
    background-color: rgba(240, 176, 28, 0.863);
    margin-top: 6%;
    padding: 8px;
    border-radius: 18px;
    text-align: center;
    font-size: 20px;
}

.event > h2 {
    font-weight: bold;
    border-bottom: solid 2px black; 
    margin-bottom: 3%;
}


.event-sep > span > a {
    text-decoration: none;
}


/* About MDHL */
.about-info {
    display: flex;
    flex-direction: column;
    margin-top: 25%;
    align-items: center;
}

.about {
    background-color: rgba(240, 176, 28, 0.863);
    margin-top: 6%;
    padding: 8px;
    border-radius: 18px;
    text-align: center;
    font-size: 18px;
}

.about > h2 {
    font-weight: bold;
    border-bottom: solid 2px black; 
    margin-bottom: 3%;
}

.about-last {
    background-color: rgba(240, 176, 28, 0.863);
    margin-top: 6%;
    padding: 8px;
    border-radius: 18px;
    text-align: center;
    margin-bottom: 3%;
    font-size: 18px;
}

.about-last > h2 {
    font-weight: bold;
    border-bottom: solid 2px black; 
    margin-bottom: 4%;
}

.accordion-button {
    color: black !important;
    background-color: rgba(240, 176, 28, 0.863) !important;
    font-weight: bold;
}

/* Contact */
.contact-info {
    display: flex;
    flex-direction: column;
    margin-top: 25%;
    align-items: center;
}

.contact {
    background-color: rgba(240, 176, 28, 0.863);
    margin-top: 6%;
    padding: 8px;
    text-align: center;
}

.contact > span {
    font-size: 18px;
    padding: 2px;
}

.contact > span > a {
    color: white;
    text-decoration: none;
}

.img-contact {
    width: 100%;
    padding: 5px;
    border-radius: 15px;
    margin-bottom: 2%;
}

/* Rules */
.rules-info {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    align-items: center;
}

.rules-container {
    background-color: rgba(240, 176, 28, 0.719);
    margin-top: 6%;
    margin-bottom: 2%;
    padding: 20px;
    padding-bottom: 0px;
    text-align: center;
}

.rules-heading {
    background-color: rgba(0, 0, 0, 0.822);
    color: white;
    padding: 15px;
    margin-bottom: 5%;

}

.text-justify {
    text-align: justify;
}

.rules-tabs {
    color: black;
}

.nav-rules:hover {
    background-color: #EF2917 !important;
    border-radius: 0;
}

.btn-up-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.btn-up:hover {
    background-color: black;
    color: white;
}

.btn-up > a {
    text-decoration: none;
}

/* Games Information */
.games-info {
    display: flex;
    flex-direction: column;
    margin-top: 15%;
    justify-content: center;
    align-items: center;
}

.heading-games-container {
    background-color: rgba(0, 0, 0, 0.918);
    color: white;
    padding: 8px;
    text-align: center;
}

.heading-games-container > h1 {
    margin: 0;
    font-weight: bold;
}

.table {
    background-color: rgba(240, 176, 28, 0.863);
    padding: 8px;
    margin-bottom: 0;
    align-items: center;
}

.map {
    text-decoration: none;
}

.table-backg {
    background-color: rgba(255, 255, 255, 0.877);
}

.info-bottom-container {
    background-color: rgba(0, 0, 0, 0.918);
    color: white;
    padding: 8px;
}

.info-bottom-container > span > a {
    color:rgb(240, 176, 28);
    text-decoration: none;
}

/* Registration Form */
.form-info {
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    justify-content: center;
    align-items: center;
}

.form {
    margin-top: 6%;
    padding: 20px;
    padding-bottom: 0px;
}

.permition-text {
    text-align: justify;
}