
body {
    background-image: url(./assets/background.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position-x: center;
    font-family: "Montserrat", sans-serif;
}

/* Home Screen */
.logo-header {
    display: grid;
    place-items: center;
}

.logo-img {
    width: 70%;
    margin-top: 15%;
}

.btn-list {
    list-style-type: none;
    display: grid;
    place-items: center;
    padding: 0;
    margin-top: 3%;
}

.btn {
    font-size: 16px;
}

.btn:hover {
    background-color: rgb(240, 176, 28);
    color: black;
    font-weight: bold;
}

/* Events Screen */
.logo-nav {
    width: 40px;
}

.active {
    color: rgb(240, 176, 28) !important; 
}

.events-info {
    display: flex;
    flex-direction: column;
    margin-top: 25%;
    align-items: center;
}

.heading-container {
    background-color: rgba(0, 0, 0, 0.753);
    color: white;
    padding: 8px;
    border-radius: 18px;
    text-align: center;
}

.heading-container > h1 {
    margin: 0;
    font-weight: bold;
}

.event {
    background-color: rgba(240, 176, 28, 0.863);
    margin-top: 6%;
    padding: 8px;
    border-radius: 18px;
    text-align: center;
}

.event > h2 {
    font-weight: bold;
    border-bottom: solid 2px black; 
    margin-bottom: 3%;
}

.event > span > a {
    text-decoration: none;
    color: white;
}


/* About MDHL */
.about-info {
    display: flex;
    flex-direction: column;
    margin-top: 25%;
    align-items: center;
}

.about {
    background-color: rgba(240, 176, 28, 0.863);
    margin-top: 6%;
    padding: 8px;
    border-radius: 18px;
    text-align: center;
}

.about > h2 {
    font-weight: bold;
    border-bottom: solid 2px black; 
    margin-bottom: 3%;
}

.about-last {
    background-color: rgba(240, 176, 28, 0.863);
    margin-top: 6%;
    padding: 8px;
    border-radius: 18px;
    text-align: center;
    margin-bottom: 3%;
}

.about-last > h2 {
    font-weight: bold;
    border-bottom: solid 2px black; 
    margin-bottom: 4%;
}


